 /*:root{
    --primary-color:#124F8F;
    --secondary-color:#155DA8 ;
    --third-color: #04478f;
    --paragraph-color: #404040;
    --font-family:'Rubik', sans-serif;
    --font-family2:'Open Sans', sans-serif;
    --font-family3:'Roboto', sans-serif;
    --font-family4:'Barlow', sans-serif;
      --background-color: linear-gradient(0deg, rgba(4, 30, 57, 0.70) 0%, rgba(16, 75, 136, 0.28) 107.61%);
}/*
:root{
    --primary-color:#bd1d51;
    --secondary-color: #3a1434 ;
    --paragraph-color: #404040;
    --third-color: #e7ca75;
    --font-family:'Rubik', sans-serif;
    --font-family2:'Open Sans', sans-serif;
    --font-family3:'Roboto', sans-serif;
    --font-family4:'Barlow', sans-serif;
    --background-color: linear-gradient(0deg, rgba(58, 20, 52, 0.7) 0%, rgba(16, 75, 136, 0.28) 107.61%);
}/*/
:root{
  --primary-color: #007FA3;
  --secondary-color: #24469C;
  --third-color: #5CC4E2;
  --paragraph-color: #404040;
  --font-family:'Rubik', sans-serif;
  --font-family2:'Open Sans', sans-serif;
  --font-family3:'Roboto', sans-serif;
  --font-family4:'Barlow', sans-serif;
  --background-color:linear-gradient(0deg, rgba(0, 127, 163, 0.7) 0%, rgba(0, 127, 163, 0.14) 107.61%);

}*/
  body{
    width: 1440px;
  }
  button{
  cursor: pointer;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  
  .wrapper{
  width: 1440px;
  margin-left:  auto;
  margin-right:  auto;
    /* height: 6965px; */
   
  }
  .btn{
    border:none;
  background-color: var(--primary-color);
  color: white;
  width: 150px;
  height: 50px;
  padding: 15px 15px;
  justify-content: center;
  align-items: center; 
  padding-top: 15px;
  }
  /*----top nav----*/
  .top__nav{
    height: 80px;
    display: flex;
    background-color: white;
  }
  .search{
    padding-left: 800px;
    padding-top: 35px;
  }
  .login{
    padding-left: 15PX;
    padding-top: 15px;
    color: #124F8F;
    font-family: var(--font-family2);
    font-size: 16px; 
    text-transform: uppercase; 
  }
  .apply {
  padding-top: 15px;
  padding-left: 30px;
  }
  .top__header{
  padding-left: 130px;
  }
  .top__header h1 span{
  color: var(--primary-color);
  }
  .top__header h1{
  color:var(--secondary-color) ;
  font-family: var(--font-family); 
  font-size: 40.703px;
  }
  /*-----bottom nav-----*/
  .humburger {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
  }
  .humburger .line {
    height: 6px;
    background-color: rgb(252, 248, 248);
  }
  .top-a {
    animation: humburger1 0.1s forwards;
  }
  .middle-a {
    animation: humburger2 0.1s forwards;
  }
  .bottom-a {
    animation: humburger3 0.1s forwards;
  }
  @keyframes humburger1 {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(45deg) translate(10px, 7px);
    }
  }
  @keyframes humburger2 {
    from {
      transform: scaleX(1);
    }
    to {
      transform: scaleX(0);
    }
  }
  @keyframes humburger3 {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-45deg) translate(10px, -7px);
    }
  }
  
  .navbar {
    display: flex;
    background-color: var(--secondary-color);
    height: 45px;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px;
  }
  .navbar__menu .menu__item {
    display: flex;
  }
  .navbar__menu a {
    color: white;
    margin-right: 50px;
    text-decoration: none;
  }
  .navbar__menu a:hover {
    color: var(--primary-color);
  }
  .menu__item li{
    list-style: none;
  }
  .menu__icons a {
    color: white;
    margin-left: 25px;
  }
  .menu__icons a:hover {
    color: var(--primary-color);
  }
              /*-------header-----*/
              .header {
    position: relative;
  }
  .header__content {
    padding: 2px;
    position: absolute;
    z-index: 59;
    background: var(--background-color);
    height: 230px;
    width: 1440px;
  }
  .header__heading {
  display: flex;
  align-items: center;
  justify-content: center;
   
  }
  .header__content h1 {
    font-weight: 600;
    color: white;
    margin-top: 90px;
  } 
         /*-------section-----*/    
         .profile {
            display: flex;
          }
          .prof__left {
            padding: 100px 130px;
            flex-basis: 70%;
          }
          .prof__left .prof__heading h2 {
            font-family: "Roboto", sans-serif;
            font-size: 42px;
            font-weight: 600;
            line-height: 50px;
            letter-spacing: 0.03em;
            text-align: left;
          }
          .prof__heading h5 {
            font-family: "Roboto", sans-serif;
            font-size: 22px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
            padding: 10px 0 20px 0;
            opacity: 0.9;
          }
          .prof__decription p {
            font-family: "Open", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            padding: 20px 0 60px 0;
          }
          .prof__left--img img {
            padding-left: 5px;
            margin-left: 10px;
          }
          .prof__right {
            margin-right: 68px;
            flex-basis: 30%;
          }
          .right__image {
            padding-top: 90px;
            height: 380px;
            width: 380px;
          }
          .right__image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .techs {
            margin-left: 20px;
            width: 340px;
            height: 290px;
            margin-top: 50px;
            margin-bottom: 100px;
          }
          .techs h3 {
            border-radius: 2px;
            padding-left: 20px;
            text-transform: uppercase;
            padding: 15px;
            color: white;
            font-family: "Roboto", sans-serif;
            background-color: #0d99ff;
            
            text-align: start;
          }
          .techs li {
            margin-bottom: 5px;
            background-color: rgb(250, 243, 235);
            padding: 15px;
            border-bottom: 1px solid white;
            margin-top: 10px;
          }
          .list li a {
            color: black;
          }
  
   /*-------footer main----*/
   footer{
    margin-top: 100px;
   }
   .top__footer{
    display: flex;
    height:162.36px;
    background-color: var(--primary-color);
  }
  .top__btn button{
    width: 150px;
  height: 50px;
  color: white;
  background: var(--primary-color);
  font-family: var(--font-family2);
  font-size: 16px;
  text-transform: uppercase;
  }
  .top__heading h2{
    font-family: var(--font-family3);
    font-size: 42px; 
    color: white;
  }
  .top__paragraph p{
    font-family: var(--font-family2);
    font-size: 16px; 
    color: white;
  }
  .footer__content{
    padding-left: 130px;
  }
  .top__btn {
    margin-left: 418.48px;
    margin-top: 56.18px;
  }
  /*-----------footer end--------*/
  .container{
    background-color: var(--secondary-color);
    height: 453px;
    padding-top: 50px;
    padding-left: 130px;
  }
  .end__footer{
    display: flex;
    gap:auto ;
  }
  
  .footer__mediaicon{
    display: flex;
    gap: 27px;
  }
  .end__header h1 span{
  color: var(--primary-color);
  
  }
  .end__header h1{
  color:white;
  font-family: var(--font-family3); 
  font-size: 40.703px;
  }
  .main1__footer__paragraph p{
  font-family: var(--font-family2);
  font-size: 16px;
  color: white;
  padding-bottom: 30px;
  }
   /*main2*/
   .main2__footer__heading{
    padding-left: 80px;
    color: white;
    font-family: var(--font-family3);
    text-transform: uppercase; 
    font-size: 20px; 
   }
   .main2__footer__list li{
    padding-left: 40px;
    list-style: none;
    font-size: 16px; 
    color: #F4F4F4;
    margin-bottom: 15px;
   }
             /*main3 footer*/
  .main3__footer__heading{
    padding-left: 80px;
    font-family: var(--font-family3);
    font-size: 20px; 
    color: white;
  }
  .main3__footer__list li{
    padding-left: 40px;
    list-style: none;
    font-size: 16px; 
    color: #F4F4F4;
    padding-bottom: 20px;
  
   }
   .main3__footer__list a{
   text-decoration: none;
   color: white;
   }
   .main3__footer__list svg{
    padding-right: 10px;
   }
   .footer__box{
    width: 280px;
    height: 52.947px; 
    border-radius: 8px;
    border: 1px solid  var(--primary-color);
    display: flex;
    background-color: var(--third-color);
   }
   .footer__box p{
    font-family: var(--font-family2);
    font-size: 16px;
    color: white;
    padding-left: 15.67px;
   
    
   }
   
   .footer__box svg{
    padding-top: 15px;
    padding-left: 187.67px;
   }
   .main4__footer{
    padding-left: 157px;
   }
   .main4__footer__heading{
    font-family: var(--font-family3);
    font-size: 20px; 
    color: white;
    text-transform: uppercase; 
   }
   .end__line{
    border-bottom: 1px solid var(--primary-color);
    width: 1180px;
    height: 100px
   }
   .end__text p{
    font-feature-settings: 'clig' off, 'liga' off; 
    color: white;
    font-family: var(--font-family2);
    font-size: 14px; 
    padding-top: 40px;
    text-align: center;
   }
                /*---------for 768px screen----------*/
                @media screen and (max-width:768px) and (min-width:370px) {
                    .wrapper{
        width: 768px;
        height: 11370px;
    }   
    .navbar__menu {
        display: none;
      }
      .menu__icons {
        display: none;
      }
     .humburger {
    display: flex;
    margin: 0 auto;
  }
  .top__header{
    padding-left: 40px;
  }
  .top__header h1{
    margin-top: 0;
  }
  .search{
    padding-left: 180px;
  }
  .navbar {
    position: relative;
  }
  .navbar__menu {
    display: block;
    position: absolute;
    left: 0;
    top: 47px;
    height: 900px;
    z-index: 500;
    width: 100%;
    padding-top: 20px;
  }
  .menu__item li {
    margin-top: 20px;
    width: 160px;
  }
  .navbar__menu {
    background-color: var(--secondary-color);
    padding: 5px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 40px;
    transform: translateY(-2000px);
    transition: transform 0.2 ease-in;
   width: 688px;
  }
  .menu__item {
    background-color: var(--secondary-color);
    padding: 5px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 40px;
    transform: translateY(-2000px);
    transition: transform 0.2 ease-in;
  }
  .menu__icons {
    transform: translateY(-2000px);
    display: flex;
    position: absolute;
    top: 50px;
    left: 310px;
    z-index: 5000;
    padding-top: 20px;
  }
  .bring_back {
    transform: translateY(0);
  }
    
      .section {
        width: 768px;
        height: 600px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 100px 34px;
      }
      .item1 {
        width: 330px;
      }
      .header {
      position: relative;
      width: 768px;
    }
    .header__img {
      width: 768px;
      height: 230px;
    }
    .header__img img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .header__content {
      width: 768px;
      height: 230px;
    }
   
  
    .header__content .header__heading h1 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  .section {
      width: 768px;
      display: flex;
      flex-direction: row;
      padding: 69px 20px;
      margin: 0;
      gap: 0;
      /* margin: 79px 34px; */
    }
    .section .main {
      display: flex;
      flex-wrap: wrap;
    }
    .main__item{
      width: 350px;
    }
    .main {
      margin: 10px;
      height: 200px;
      width: 340px;
    }
    .item1 {
      display: flex;
      flex-wrap: wrap;
    }
    .section button{
      margin-top: 150px;
      margin-left: 50px;
    }
    .top__footer{
        height: 162.36px;
    }
    footer{
       padding-top: 0;
    }
    .footer__content{
        padding-left: 10px;
        padding-right: 100px;
    }
    .top__heading h2{
        font-size:40px ;
        bottom: 0px;
    }
   .top__paragraph {
    width: 427.41px;
    height: 44px;
  
   }
   .top__btn{
    margin-left: 0px;
    padding-right: 20px;
   }
   .container{
    height: 809.36px;
    padding-left: 0px;
    position: relative;
    
   }
   .main1__footer{
    padding-left: 40px;
    margin-left: 20px;
   }
   .main3__footer{
    top: 380px;
    position: absolute;
   }
   .main2__footer{
    padding-left: 20px;
    margin-left: 20px;
   }
   .main4__footer{
    position: absolute;
    top: 380px;
    left: 200px;
   }
   .end__text{ 
    margin-top: 300px;
   }
   .end__line{
    margin-left: 50px;
    width: 600px;
   }
  }
  /*---------for 375px screen----------*/
  @media screen and (max-width:375px)  and (min-width: 50px){
    .wrapper{
        width: 375px;
        height: 14388px;
    }   
    .top__nav{
        height: 60px; 
    }
    .top__header{
        padding-left: 17.89px;
    }
    .top__header h1{
      font-size: 20.35px;
    }
    .search{
        padding-left:140px;
        padding-top: 22px;
    }
    .login{
   font-size: 15px;
   padding-top:  4px;
    }
    .top__nav .apply{
      display: none;
    }
  
    .humburger {
        display: flex;
        margin: 0 auto;
      }
      .navbar {
        position: relative;
      }
      .navbar__menu {
        display: block;
        position: absolute;
        left: 0;
        top: 47px;
        height: 900px;
        z-index: 500;
        max-width: 288px;
        padding-top: 20px;
     
      }
      .menu__item li {
        margin-top: 20px;
        width: 160px;
      }
      .navbar__menu {
        background-color: var(--secondary-color);
        padding: 5px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0px 40px;
        transform: translateY(-2000px);
        transition: transform 0.2 ease-in;
      }
      .menu__item {
        background-color: var(--secondary-color);
        padding: 5px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0px 40px;
        transform: translateY(-2000px);
        transition: transform 0.2 ease-in;
      }
      .menu__icons {
        transform: translateY(-2000px);
        display: flex;
        position: absolute;
        top: 500px;
        left: 45px;
        z-index: 5000;
        padding-top: 20px;
      }
      .bring_back {
        transform: translateY(0);
      }
      .navbar__menu {
        display: none;
      }
      .menu__icons {
        display: none;
      }  
      .section {
        width: 375px;
        height: 900px;
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        padding: 0px 17px;
        margin-top: 0;
        margin-bottom: 0;
      }
      .item1 {
        display: flex;
        gap: 10px;
        width: 330px;
      }
      .humburger {
        display: flex;
        margin: 0 auto;
      }
      .navbar {
        position: relative;
      }
      .navbar__menu {
        display: block;
        position: absolute;
        left: 0;
        top: 47px;
        height: 900px;
        z-index: 500;
        width: 100%;
        padding-top: 20px;
      }
      .menu__item li {
        margin-top: 20px;
        width: 160px;
      }
      .navbar__menu {
        background-color: var(--secondary-color);
        padding: 5px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0px 40px;
        transform: translateY(-2000px);
        transition: transform 0.2 ease-in;
      }
      .menu__item {
        background-color: var(--secondary-color);
        padding: 5px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0px 40px;
        transform: translateY(-2000px);
        transition: transform 0.2 ease-in;
      }
      .menu__icons {
        transform: translateY(-2000px);
        display: flex;
        position: absolute;
        top: 500px;
        left: 45px;
        z-index: 5000;
        padding-top: 20px;
      }
      .header {
      position: relative;
      width: 375px;
      height: 200px;
    }
  
    .header__img {
      width: 375px;
      height: 200px;
    }
    .header__img img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .header .header__content {
      width: 375px;
      height: 200px;
    }
   
    .header__content .header__heading {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
  .section {
      width: 375px;
      display: flex;
      flex-direction: row;
      padding-left: 0;
      padding-right: 0;
      gap: 10px;
      margin: 59px 0px;
      padding-bottom: 0;
    }
    .section .main {
      display: flex;
      flex-wrap: wrap;
    }
    .main {
      margin: 10px;
      height: 200px;
    }
    .main__image {
      width: 320px;
      height: 200px;
    }
    .main__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .item1 {
      display: flex;
      flex-wrap: wrap;
    }
  
    .main__item {
      width: 320px;
      padding: 15px;
      height: 200px;
    }
    .main__item h3 {
      width: 300px;
    }
    .top__footer{
    height: 162.36px;
    margin-top: 0;
   height: 400px;
   width: 375px;
   display: flex;
   flex-direction: column;
  }
  .footer__content{
    padding-top: 50px;
    padding-left: 0;
    text-align: center;
  }
  .top__heading h2{
    font-size:32px ;
    bottom: 0px;
  }
  .top__paragraph{
    padding-top: 10px;
    font-size: 16px;
   margin: 30px;
  }
  .top__btn{
  margin-left: 120px;
  }
  
  .container{
    padding-left: 0px;
    height: 1139.07px;
   }
   .end__footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
   }
   .main2__footer{
    padding-left: 30px;
   }
   .main2__footer__heading{
    padding-left: 0;
   }
   .main2__footer__list ul{
   
    padding-left: 0;
    margin-right: 0;
   
   }
   .main1__footer{
    padding-left: 30px;
   }
   .main3__footer{
    padding-left: 30px;
   }
   .main3__footer__heading{
    padding-left: 0;
    
   }
   .main3__footer__list ul{
    padding-left: 0;
   }
   .main4__footer{
    padding-left: 30px;
   }
   .end__line{
    margin-left: 0;
    width: 375px;
   }
   }